<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165984095-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-165984095-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/site.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="https://mtgify.org/dist/autocard.css" />
  <script>
  MTGIFY_CONFIG = {
    linkSource: "scryfall",
    imgSource: "scryfall",
  }
</script>
  <script src="https://mtgify.org/dist/autocard.js"></script>
</head>
